<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mapper.sys.SysRelationMenuRoleMapper" >
  <resultMap id="BaseResultMap" type="mapper.model.sys.SysRelationMenuRole" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="relation_id" property="relationId" jdbcType="INTEGER" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
</mapper>